<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>hmm7f7ucgaebxd2j4ak758h9</string>
	<key>ClientSecret</key>
	<string>9Mbhwd9uKskfUw9sKBUvWjSR</string>
	<key>AuthorizationUrl</key>
	<string>https://cloudsso.cisco.com/as/authorization.oauth2</string>
	<key>TokenUrl</key>
	<string>https://cloudsso.cisco.com/as/token.oauth2</string>
	<key>RedirectUri</key>
	<string>http://wwwin-star.cisco.com/</string>
	<key>GrantType</key>
	<string>authorization_code</string>
	<key>Scope</key>
	<string>Read</string>
	<key>EnableCookie</key>
	<true/>
	<key>STSApiUrl</key>
	<string>https://api.cisco.com/dft/common/exchangetoken</string>
	<key>OamAuthenticationUrl</key>
	<string>https://sso.cisco.com/testoam.html</string>
	<key>ResetKeychainData</key>
	<true/>
	<key>OauthUserProfileUrl</key>
	<string>https://api.cisco.com/dft/common/userprofile/cn,givenName,sn,uid,mail,accessLevel</string>
	<key>AccessTokenExpiresInSeconds</key>
	<real>3300</real>
	<key>CookieExpiresInSeconds</key>
	<integer>12400</integer>
	<key>ImplicitInactiveTimeSeconds</key>
	<integer>30</integer>
	<key>EnableSingleSignOn</key>
	<true/>
	<key>AppBundleSeedId</key>
	<string>W43JVZL3E8.DFT_SSO_FAMILY</string>
	<key>UserStatusCheck</key>
	<integer>3000</integer>
	<key>UserStatusCheckUrl</key>
	<string>https://api.cisco.com/dft/common/userstatus</string>
	<key>UserStatusCheckFailureWillLogout</key>
	<false/>
	<key>SpinnerVerticalAxisFactor</key>
	<real>1.5</real>
	<key>SpinnerLarge</key>
	<true/>
</dict>
</plist>
